@model IEnumerable<SSR.Models.Author>

@{
    ViewData["Title"] = "Authors in this Blog";
}

<h1 class="text-center mb-4">Authors</h1>

@if (!Model.Any())
{
    <div class="alert alert-info" role="alert">
        No Authors
    </div>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var author in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            Author
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@author.Name</h5>
                            <p class="card-text">@author.Biography</p>
                            <a href="@Url.Action("Details", "Author", new { id = author.Id })" class="btn btn-primary">View Details</a>
                            <a href="@Url.Action("Posts", "Author", new { id = author.Id })" class="btn btn-secondary">View Posts</a>
                            <a href="@Url.Action("Edit", "Author", new { id = author.Id })" class="btn btn-secondary">Edit</a>
                            <form asp-action="Delete" asp-controller="Author" asp-route-id="@author.Id" method="post" class="d-inline">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this author?');">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>   
}